<h1>View ALL My Bids</h1>

<div class="wholetable">

<div class="pageHeader">
<h1>My Properties</h1>

  <div class="container">
  	<div class="row">

          <div class="col-md-3">
              <form action="#" method="get">
                  <div class="input-group">

                      <!-- SEARCH BAR -->
                      <input class="form-control" id="system-search" name="q" placeholder="Search all listings..." required>
                      <span class="input-group-btn">
                          <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                      </span>
                  </div>
              </form>
          </div>



  		<div class="col-md-9">
      	 <table class="table table-list-search">
                      <thead>
                          <tr>
                              <th>Listing Name</th>
                              <th>Type</th>
                              <th>Address</th>
                              <th>Reserve Price</th>
                              <th>Auction Date</th>
                              <th>Auction Duration Left</th>
                              <th>Your Last Bid Amount</th>
                              <th> </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>East Coast</td>
                              <td>Bungalow</td>
                              <td>11 East Coast Street</td>
                              <td>$1,200,000 ACTION CABLE HERE</td>
                              <td>11 Nov 2016</td>
                              <td>Countdown Timer Here</td>
					  									<td>$1,200,000</td>
															<td>form to resubmit new bid or bring them back to the listing in order to bid</td>
                          </tr>
                          <tr>
															<% @bids.each do |bid| %>
		                              <td> <%=  %> </td>
		                              <td> </td>
		                              <td> </td>
		                              <td> </td>
		                              <td> </td>
		                              <td> </td>
							                    <td> </td>
		                              <td> </td>
															<% end %>
                          </tr>
                      </tbody>
                  </table>
  		</div>
  	</div>
  </div>

</div>

</div>
