
		<!-- FOOTER -->
		<footer class="footer-distributed">

			<div class="footer-left">

				<img class="logoshort" src="../assets/logo/logoshort.png" alt="" />

				<p class="footer-links">
					<%= link_to "Home",   '/' %>
					·
					<%= link_to "About",   'about' %>

				</p>

				<p class="footer-company-name">Famous Five &copy; 2016</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<a href="https://www.google.com.sg/maps/place/8+Claymore+Hill,+Singapore+229572/@1.3077119,103.8295769,17z/data=!3m1!4b1!4m5!3m4!1s0x31da198d35873849:0x3a23fa3bd151effb!8m2!3d1.3077119!4d103.8317656"><p><span>8 Claymore Road #08-08 Singapore 111888</span>Singapore</p></a>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+65 1118888</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:enquiries@proption.com">enquiries@proption.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About Proption</span>
					We are a live online bidding site that offers an alternative way for anyone looking to sell or buy properties in Singapore at the best possible prices.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>
