<div class="container">
  <h1>About Proption</h1>

  <h4>
    Proption is a live online bidding site that offers an alternative way for anyone looking to buy or sell properties in Singapore at the best possible price. We help both parties save time, cut fees and reach a wider pool of buyers and sellers through an online bidding system.
  </h4>

</div>
