<div class="container">
  <h1>About</h1>
  <p>Find me in app/views/home/about.html.erb</p>


  <h2>Proption is a live online bidding site for private properties in Singapore. We offer property owners an alternative way to sell their property and for property buyers to buy properties. We help both parties save time, cut fees and reach a wider pool of buyers through an online bidding solution.</h2>
</div>
