<div class="container about">

    <div class="heading heading-contact">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Our Services</h2>
          <i class="fa fa-2x fa-angle-down"></i>
        </div>
      </div>
    </div>

    <div class="heading col-lg-12">
      <hr class="marginbot-50">
    </div>

    <!-- Section: services -->
    <section id="service" class="home-section text-center bg-gray">

    <h3 class='aboutsum'>Proption is a live online bidding site that offers an alternative way for anyone looking to buy or sell properties at the best possible price. We help our users save time, money and reach a wider pool of buyers and sellers through our online bidding system.</h3>

    <div class="row services">
      <div class="col-md-3">

        <div class="service-box">
          <div class="service-icon">
            <img src="https://image.freepik.com/free-icon/tool-for-saving-money_318-62467.jpg" alt="" class='icons' />
          </div>
          <div class="service-desc">
            <h5><b>Low Cost</b></h5>
            <p>We only charge a low-fix minimum fee for every property listed for auction.</p>
          </div>
        </div>

      </div>
      <div class="col-md-3">

        <div class="service-box">
          <div class="service-icon">
            <img src="http://www.whatsyourcan.com/wp-content/uploads/2016/04/Finger-Snap-1.png" alt="" class='icons' />
          </div>
          <div class="service-desc">
            <h5><b>Simple</b></h5>
            <p>If you are looking to buy or sell, simply register to start bidding or list your property for auction.</p>
          </div>
        </div>

      </div>
      <div class="col-md-3">

        <div class="service-box">
          <div class="service-icon">
            <img src="https://www.iconexperience.com/_img/o_collection_png/green_dark_grey/512x512/plain/hammer2.png" alt="" class='icons' />
          </div>
          <div class="service-desc">
            <h5><b>Transparent</b></h5>
            <p>Open to all registered users for bidding. Bid history is available for users who list their properties.</p>
          </div>
        </div>

      </div>
      <div class="col-md-3">

        <div class="service-box">
          <div class="service-icon">
            <img src="https://image.freepik.com/free-icon/thumbs-up-hand-symbol_318-41939.jpg" alt="" class='icons' />
          </div>
          <div class="service-desc">
            <h5><b>Effective</b></h5>
            <p>The most effective and efficient way to buy or sell a property. No hidden fees or charges.</p>
          </div>


        </div>

      </div>
<a href="#" class="scroll-down black" address="true"></a>
    </div>

  </section>
  <!-- /Section: services -->


  <!-- Section: about -->
  <section id="about" class="home-section text-center ok">
    <div class="heading-about">

        <div class="col-lg-12 about">

          <div class="section-heading">
            <h2>The Team</h2>
            <i class="fa fa-2x fa-angle-down"></i>

          </div>

        </div>

    </div>


      <div class="col-lg-2 col-lg-12">
        <hr class="marginbot-50">
      </div>


    <div class="row profile">


        <div class="team boxed-grey">
          <div class="inner">
            <div class="avatar">
              <%= image_tag ("/amanda.jpg") %></div>
          </div>
            <h5>Amanda Oh</h5>
            <p class="subtitle">Group Leader</p>



      </div>


        <div class="team boxed-grey">
          <div class="inner">
            <div class="avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg" alt="" class="img-responsive img-circle" /></div>
            <h5>Julian Chung</h5>
            <p class="subtitle">Member</p>



        </div>

      </div>


        <div class="team boxed-grey">
          <div class="inner">
            <div class="avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg" alt="" class="img-responsive img-circle" /></div>
            <h5>Braden Tan</h5>
            <p class="subtitle">Member</p>



        </div>

      </div>


        <div class="team boxed-grey">
          <div class="inner">
            <div class="avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg" alt="" class="img-responsive img-circle" /></div>
            <h5>Danny Lee</h5>
            <p class="subtitle">Member</p>



        </div>

      </div>


        <div class="team boxed-grey">
          <div class="inner">
            <div class="avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg" alt="" class="img-responsive img-circle" /></div>
            <h5>Chris Ke</h5>
            <p class="subtitle">Member</p>



        </div>
      </div>
    </div>

  </section>
  <!-- /Section: about -->


</div>
