<div class="container">
  <h1>Contact</h1>

  <div>
  					<i class="fa fa-map-marker"></i>
  					<a href="https://www.google.com.sg/maps/place/8+Claymore+Hill,+Singapore+229572/@1.3077119,103.8295769,17z/data=!3m1!4b1!4m5!3m4!1s0x31da198d35873849:0x3a23fa3bd151effb!8m2!3d1.3077119!4d103.8317656"><p><span>8 Claymore Road #08-08 Singapore 111888</span>Singapore</p></a>
  </div>

  <div>
  					<i class="fa fa-phone"></i>
  					<p>+65 1118888</p>
  </div>

  <div>
  					<i class="fa fa-envelope"></i>
  					<p><a href="mailto:enquiries@proption.com">enquiries@proption.com</a></p>
  </div>



</div>
