<!-- JUMBOTRON -->
<div class="jumbotron">
  <div class="bigtitle">
    <h1>Hey there!</h1>
    <p>A new property is just a few bids away...</p>
    <p><a class="btn btn-danger btn-lg" href="#" role="button">View All Properties</a></p>
  </div>
</div>


<!-- 4 FEATURED LISTINGS -->
<section class="container tm-home-section-1" id="more">

  <div class="row">

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
      <article class="aa-properties-item">
        <a href="/underconstruction" class="aa-properties-item-img popular">
          <img src="house2.jpg" class="featured_img" alt="img">
        </a>
        <div class="aa-properties-item-content">
          <div class="aa-properties-info">
            4 Beds</span>
            4 Baths</span>
            4102 sqft</span>
          </div>
          <div class="aa-properties-about">
            <h3><a href="/underconstruction">1 Amber Avenue</a></h3>
            <p>Beautifully renovated bungalow. Located along a quiet street.</p>
          </div>
          <div class="aa-properties-detial">
            <span class="aa-price">
                      $670000
                    </span>
            <a href="/underconstruction" class="aa-secondary-btn">View Listing</a>
          </div>
        </div>
      </article>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
      <article class="aa-properties-item">
        <a href="/underconstruction" class="aa-properties-item-img popular">
          <img src="house2.jpg" class="featured_img" alt="img">
        </a>
        <div class="aa-properties-item-content">
          <div class="aa-properties-info">
            4 Beds</span>
            4 Baths</span>
            4102 sqft</span>
          </div>
          <div class="aa-properties-about">
            <h3><a href="/underconstruction">1 Amber Avenue</a></h3>
            <p>Beautifully renovated bungalow. Located along a quiet street.</p>
          </div>
          <div class="aa-properties-detial">
            <span class="aa-price">
                      $670000
                    </span>
            <a href="/underconstruction" class="aa-secondary-btn">View Listing</a>
          </div>
        </div>
      </article>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
      <article class="aa-properties-item">
        <a href="/underconstruction" class="aa-properties-item-img popular">
          <img src="house2.jpg" class="featured_img" alt="img">
        </a>
        <div class="aa-properties-item-content">
          <div class="aa-properties-info">
            4 Beds</span>
            4 Baths</span>
            4102 sqft</span>
          </div>
          <div class="aa-properties-about">
            <h3><a href="/underconstruction">1 Amber Avenue</a></h3>
            <p>Beautifully renovated bungalow. Located along a quiet street.</p>
          </div>
          <div class="aa-properties-detial">
            <span class="aa-price">
                      $670000
                    </span>
            <a href="/underconstruction" class="aa-secondary-btn">View Listing</a>
          </div>
        </div>
      </article>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
      <article class="aa-properties-item">
        <a href="/underconstruction" class="aa-properties-item-img popular">
          <img src="house2.jpg" class="featured_img" alt="img">
        </a>
        <div class="aa-properties-item-content">
          <div class="aa-properties-info">
            4 Beds</span>
            4 Baths</span>
            4102 sqft</span>
          </div>
          <div class="aa-properties-about">
            <h3><a href="/underconstruction">1 Amber Avenue</a></h3>
            <p>Beautifully renovated bungalow. Located along a quiet street.</p>
          </div>
          <div class="aa-properties-detial">
            <span class="aa-price">
                      $670000
                    </span>
            <a href="/underconstruction" class="aa-secondary-btn">View Listing</a>
          </div>
        </div>
      </article>
    </div>



  </div>
</section>
