<!-- JUMBOTRON -->
<div class="jumbotron">
  <div class="bigtitle">
    <h1>Hey there!</h1>
    <p>A new property is just a few bids away...</p>
    <p><%= link_to "View All Listings", 'listings', :class => 'btn btn-danger btn-lg'%></p>
  </div>
</div>

<!-- 4 FEATURED LISTINGS -->
  <section class="container tm-home-section-1" id="more">

    <div class="row">

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
        <article class="aa-properties-item">

          <a href="/underconstruction" class="aa-properties-item-img popular">
            <img src="../assets/houses/house2.jpg" class="featured_img" alt="img">
          </a>

          <div class="aa-properties-item-content">
            <div class="aa-properties-info">
              <span class="icons"><img src="../assets/icons/bed" class="featured_img" alt="img"><b> 4</b></span>
              <span class="icons"><img src="../assets/icons/bath" class="featured_img" alt="img"><b> 3</b></span>
              <span class="icons pull-right"><b> 1200 sqft</b></span>
            </div>

            <div class="aa-properties-about">
              <h3><a href="/underconstruction" class="propname">2 Amber Avenue</a></h3>
              <p>Beautifully renovated bungalow. Located along a quiet street.</p>
            </div>

            <div class="aa-properties-detial">
              <span>Last Bid: <b class="bidlast">$1450000</b></span>
              <span class="pull-right">7 Bids</span>
              <br>
              <span>Ends: <b class="bidtime">07:54:03</b></span>
              <button type="button" class="btn btn-danger btn-md pull-right">
              <span class="glypicon glyphicon glyphicon-ice-lolly"></span>
              Bid
              </button>
            </div>

          </div>
        </article>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
        <article class="aa-properties-item">

          <a href="/underconstruction" class="aa-properties-item-img popular">
            <img src="../assets/houses/house3" class="featured_img" alt="img">
          </a>

          <div class="aa-properties-item-content">
            <div class="aa-properties-info">
              <span class="icons"><img src="../assets/icons/bed" class="featured_img" alt="img"><b> 4</b></span>
              <span class="icons"><img src="../assets/icons/bath" class="featured_img" alt="img"><b> 3</b></span>
              <span class="icons pull-right"><b> 1200 sqft</b></span>
            </div>

            <div class="aa-properties-about">
              <h3><a href="/underconstruction" class="propname">2 Amber Avenue</a></h3>
              <p>Beautifully renovated bungalow. Located along a quiet street.</p>
            </div>

            <div class="aa-properties-detial">
              <span>Last Bid: <b class="bidlast">$1450000</b></span>
              <span class="pull-right">7 Bids</span>
              <br>
              <span>Ends: <b class="bidtime">07:54:03</b></span>
              <button type="button" class="btn btn-danger btn-md pull-right">
              <span class="glypicon glyphicon glyphicon-ice-lolly"></span>
              Bid
              </button>
            </div>

          </div>
        </article>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
        <article class="aa-properties-item">

          <a href="/underconstruction" class="aa-properties-item-img popular">
            <img src="../assets/houses/house2.jpg" class="featured_img" alt="img">
          </a>

          <div class="aa-properties-item-content">
            <div class="aa-properties-info">
              <span class="icons"><img src="../assets/icons/bed" class="featured_img" alt="img"><b> 4</b></span>
              <span class="icons"><img src="../assets/icons/bath" class="featured_img" alt="img"><b> 3</b></span>
              <span class="icons pull-right"><b> 1200 sqft</b></span>
            </div>

            <div class="aa-properties-about">
              <h3><a href="/underconstruction" class="propname">2 Amber Avenue</a></h3>
              <p>Beautifully renovated bungalow. Located along a quiet street.</p>
            </div>

            <div class="aa-properties-detial">
              <span>Last Bid: <b class="bidlast">$1450000</b></span>
              <span class="pull-right">7 Bids</span>
              <br>
              <span>Ends: <b class="bidtime">07:54:03</b></span>
              <button type="button" class="btn btn-danger btn-md pull-right">
              <span class="glypicon glyphicon glyphicon-ice-lolly"></span>
              Bid
              </button>
            </div>

          </div>
        </article>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
        <article class="aa-properties-item">

          <a href="/underconstruction" class="aa-properties-item-img popular">
            <img src="../assets/houses/house3" class="featured_img" alt="img">
          </a>

          <div class="aa-properties-item-content">
            <div class="aa-properties-info">
              <span class="icons"><img src="../assets/icons/bed" class="featured_img" alt="img"><b> 4</b></span>
              <span class="icons"><img src="../assets/icons/bath" class="featured_img" alt="img"><b> 3</b></span>
              <span class="icons pull-right"><b> 1200 sqft</b></span>
            </div>

            <div class="aa-properties-about">
              <h3><a href="/underconstruction" class="propname">2 Amber Avenue</a></h3>
              <p>Beautifully renovated bungalow. Located along a quiet street.</p>
            </div>

            <div class="aa-properties-detial">
              <span>Last Bid: <b class="bidlast">$1450000</b></span>
              <span class="pull-right">7 Bids</span>
              <br>
              <span>Ends: <b class="bidtime">07:54:03</b></span>
              <button type="button" class="btn btn-danger btn-md pull-right">
              <span class="glypicon glyphicon glyphicon-ice-lolly"></span>
              Bid
              </button>
            </div>

          </div>
        </article>
      </div>



    </div>
  </section>
