// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.container.home {
 height: 100%;
 position: relative;
 margin-bottom: 5%;
}

/*========================
JUMBOTRON
========================*/

.jumbotron {
  top:-50px;
  position: relative;
  width: 100%;
  height: 120%;
  // background:url('./houses/house4.jpg');
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./houses/house4.jpg');
  -webkit-background-size: cover;
  -moz-background-size:  cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

.bigtitle {
  position: relative;
  text-align: center;
	color: white;
  z-index: 1;
  // background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 108.5%;

}

.tword2 {
  position: absolute;
  top: -25px;
}

.viewall.btn.btn.btn-lg {
  color: white;
  border: 1px solid white;
  z-index: 10;
  margin-top:5%;
  padding: 1%;
}

.viewall.btn.btn.btn-lg:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
}

/*========================
MID SECTION TITLE
========================*/
.smalltitle {
  text-align: center;
  position: relative;
  margin-top: 10%;
  width: 100%;
  color: black;
  padding: 0.5%;
}

.smalltitle.features {
  margin-top: -10%;
}

section.homebottom {
  position: relative;
  height: 100%;
  margin-bottom: 20%;
}

/*========================
HOME PAGE - FEATURED LISTINGS
========================*/
.homesection {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 0;
  margin: 0;
}

.aa-properties-item:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.propname {
  color:#599bf8;
}

.icons img {
  opacity: 0.7;
  height: 20px;
}

.bidtime {
  font-size: 24px;
  color:#ff5252;
}

.bidlast {
  font-size: 18px;
  color:#16a861;
}

a.btn.btn-danger.btn-md.pull-right {
  padding: 5px;
}

.latesttransaction {
	text-align: center;
}

.tm-home-section-1 {
	position: relative;
}

.tm-home-box-2 {
	background-color: white;
	max-width: 254px;
}

.tm-home-box-2 h3 {
	font-size: 14px;
	padding: 30px 25px;
	text-transform: uppercase;
}

.tm-date {
	color: #c3c3c3;
	padding: 10px 25px;
	text-transform: uppercase;
}

.tm-home-box-2-container {
	border-top: 1px solid #DDD;
	overflow: hidden;
}

.tm-home-box-2-link {
	display: inline-block;
	height: 100%;
	color: black;
	text-align: center;
}

.border-left {
	border-left: 1px solid #DDD;
}

.border-right {
	border-right: 1px solid #DDD;
}

.tm-home-box-2-icon {
	padding: 20px;
	width: 60px;
	height: 60px;
	font-size: 1.4em;
}

.tm-home-box-2-description {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	width: 125px;
	padding-bottom: 18px;
}

#aa-latest-property {
	display: inline;
	float: left;
	width: 100%;
	padding: 40px 0;
}

#aa-latest-property .aa-latest-property-area {
	display: inline;
	float: left;
	width: 100%;
}

#aa-latest-property .aa-latest-property-area .aa-latest-properties-content {
	display: inline;
	float: left;
	width: 100%;
}

.aa-properties-item {
	display: inline;
	float: left;
	margin-top: 30px;
	width: 100%;
	position: relative;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.aa-properties-item:hover {
	box-shadow: 1px 2px 5px 3px #ccc;
}

.aa-properties-item .aa-properties-item-img {
	width: 100%;
}

.aa-properties-item .aa-properties-item-img img {
	width: 100%;
}

.aa-properties-item .aa-tag {
	color: #fff;
	padding: 6px 10px;
	position: absolute;
	left: 15px;
	top: -15px;
}

.aa-properties-item .aa-properties-item-content {
	background-color: #fff;
	border: 1px solid #ddd;
	border-top: none;
	display: inline;
	float: left;
	width: 100%;
}

.aa-properties-item .aa-properties-item-content .aa-properties-info {
	border-bottom: 1px solid #ddd;
	display: inline;
	float: left;
	padding: 10px;
	width: 100%;
	text-align: left;
  height: 40px;
}

.aa-properties-item .aa-properties-item-content .aa-properties-info span {
	margin: 0px 5px;
	font-size: 14px;
}

.aa-properties-item .aa-properties-item-content .aa-properties-about {
	display: inline;
	float: left;
	width: 100%;
	padding: 10px;
	height: 100px;
}

.aa-properties-item .aa-properties-item-content .aa-properties-about h3 {
	margin-top: 0px;
}

.aa-properties-item .aa-properties-item-content .aa-properties-about p {
	font-size: 14px;
}

.aa-properties-item .aa-properties-item-content .aa-properties-detial {
	border-top: 1px solid #ddd;
	display: inline;
	float: left;
	padding: 10px;
	width: 100%;
}

.aa-properties-item .aa-properties-item-content .aa-properties-detial .aa-price {
	float: left;
	font-size: 18px;
	padding: 3px 0;
}

.aa-properties-item .aa-properties-item-content .aa-properties-detial a {
	float: right;
	padding: 5px 0;
}

.aa-title {
	text-align: center;
}

.row.featured {
  margin-top: 100px;
}

/*========================
LISTINGS SMALL
========================*/
.propname {
  color:#599bf8;
}

.propname:hover {
  color:#5775ed;
}

.icons img {
  opacity: 0.7;
  height: 20px;
}

.bidtime {
  font-size: 26px;
  color:#ff5252;
}

.bidlast {
  font-size: 20px;
  color:#16a861;
}



/*========================
LISTING DETAILS
========================*/
.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7));
    height: 100%;
    width: 100%;
    padding: 2% 2% 10% 2%;
}

/*========================
PROPERTY DETAILS
========================*/
.reserveprice {
  color: #ff5252;
}

/*========================
ABOUT
========================*/
.col-lg-12.about {
  margin-top: 4%;
}

.scroll-down.black {
  top: 41%;
}

#about {
  margin-top: 5%;
}

.team.boxed-grey {
  width: 19%;
  display: inline-block;
  padding: 1%;
  margin-top: 5%;
}

.boxed-grey {
	// background: grey;
}

.team h5 {
	margin-bottom: 10px;
}

.team p.subtitle {
	margin-bottom: 10px;
}

.avatar {
	margin-bottom: 20px;
}

img.avatar.img-responsive.img-circle {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.aboutsum {
  height: 1em;
}

/* ===========================
SERVICES
============================ */
.growservice:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.growabout:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

}

.service-icon {
	margin-bottom: 20px;
}

.icons {
  width: 100px;
  height: 100px;
}

.row.services {
  margin-top: 20%;
}

/* ===========================
CONTACT
============================ */

.googlemap:hover {
  -webkit-box-shadow:1px 2px 5px 3px #ccc;
  -moz-box-shadow:1px 2px 5px 3px #ccc;
  box-shadow: 1px 2px 5px 3px #ccc;
}

.container.contact {
  margin-bottom: 9%;
}

.col-lg-6.contact {
  text-align: left;
  padding-left: 12%;
  padding-top: 10%;
}

.col-lg-6.contact a {
  color: black;
  text-decoration: none;
}

.col-lg-6.contact a:hover {
  font-weight: bolder;
}

#contact {
  height: 100%;
}

/*========================
SCROLL DOWN
========================*/
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.scroll-down.black {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  // border: 2px solid #FFF;
  border: 2px solid black;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down.black:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid black;
    // border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

.scroll-down.white {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  // border: 2px solid black;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down.white:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    // border: 2px solid black;
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/*========================
INDEX PAGE ANIMATION
========================*/
.hovereffect {
  width: 100%;
  height: 700px;
  float: left;
  overflow: hidden;
  text-align: center;
  cursor: default;
  position: absolute;
  margin-top: 150px;
  padding: 2%;
  margin-bottom: 1%;
}

.tword {
  margin-top: 3%;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 55%;
  height: 100%;
  left: 22%;
  top: 20%;
  padding-top: 5%;
  // border-radius: 80%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(50%,50%,0);
  transform: translate3d(50%,50%,0);
}

.titleword {
  margin-top: 15%;
}

.hovereffect {
  position: absolute;
  height: 300px;
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-150%,-400%,0);
  transform: translate3d(-150%,-400%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-150%,-400%,0);
  transform: translate3d(-150%,-400%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2, .hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/*========================
JUMBOTRON
========================*/
span.icons.pull-right {
  text-align: right;
}

/*========================
CAROUSEL
========================*/
.carousel-inner {
  padding: auto 20px;
}

div.col-sm-3.text-center {
  width: 21%;
}

.img-circle {
  height: 200px;
  width: 200px;
}

#quote-carousel
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
  left: -60px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
  right: -60px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #quote-carousel
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
