 @import "bootstrap-sprockets";
 @import "bootstrap";

 html, body, * {
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 	margin: 0;
 	padding: 0;
 }

 section {
   height: 100vh;
   width: 100%;
   display: table;
 }

 .container {
  height: 100%;
  position: relative;
  margin-bottom: 40%;
 }

 .heading {
   text-align: center;
 }

 .container.bg-overlay {
   margin-bottom: 0;
   width: 100%;
   padding: 0;
 }

 /*========================
 ALERT MESSAGE
 ========================*/
 .alertMessage {
 	position:absolute;
 	width: 200px;
 	right: 0px;
 	text-align: center;
 	opacity: 0.9;
 	z-index: 99999999;
 }

 /*========================
 SCROLL TO TOP
 ========================*/
 .scroll-top-wrapper {
   position: fixed;
   opacity: 0;
   visibility: hidden;
 	overflow: hidden;
 	text-align: center;
 	z-index: 99999999;
   background-color: rgba(0, 0, 0, 0.5);
 	color: white;
 	width: 32px;
 	height: 32px;
 	line-height: 30px;
 	right: 25px;
 	bottom: 50px;
 	padding-top: 2px;
 	border-top-left-radius: 25px;
 	border-top-right-radius: 25px;
 	border-bottom-right-radius: 25px;
 	border-bottom-left-radius: 25px;
 	-webkit-transition: all 0.5s ease-in-out;
 	-moz-transition: all 0.5s ease-in-out;
 	-ms-transition: all 0.5s ease-in-out;
 	-o-transition: all 0.5s ease-in-out;
 	transition: all 0.5s ease-in-out;
 }

 .scroll-top-wrapper:hover {
 	background-color: rgba(0, 0, 0, 0.7);
 }

 .scroll-top-wrapper.show {
   visibility:visible;
   cursor:pointer;
 	opacity: 1.0;
 }

 .scroll-top-wrapper i.fa {
 	line-height: inherit;
 }

@import 'header';
@import 'footer';
@import 'home';
@import 'properties';
@import 'listings';
@import 'bids';
