// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*========================
FOOTER
========================*/
<<<<<<< HEAD
 @import "bootstrap-sprockets";

@import "bootstrap";

footer {
  position:relative;
  height: 35px;
  font-size: 15px;
  padding:5px;
  color: white;
  background-color: black;
  text-align: center;
}
