// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

html, body, * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
}

/*========================
LISTINGS SMALL
========================*/
.propname {
  color:#599bf8;
}

.propname:hover {
  color:#5775ed;
}

.icons img {
  opacity: 0.7;
  height: 20px;
}

.bidtime {
  font-size: 26px;
  color:#ff5252;
}

.bidlast {
  font-size: 20px;
  color:#16a861;
}


/*========================
NAVBAR
========================*/

header {
	height: 50px;
	width: 100%;
}

.navbar-fixed-top {
	background-color: rgba(0, 0, 0, 0.8);
}

.navbar-collapse.collapse.in {
	height: 100%;
	width: 100%;
}

.collapse.navbar-collapse {
	margin-right: 15px;
}

.dropdown:hover .dropdown-menu {
display: block;
}

.navbarlink {
	color: white;
}

.navbarlink:hover {
	color: white;
}

.nav.navbar-nav.navbar-right li a:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.navbar-brand {
	padding: 0;
}

.logolong {
	height: 25px;
	margin: 12.5px;
}

.navbar-brand:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.navbar-login {
	width: 305px;
	padding: 10px;
	padding-bottom: 0px;
}

.navbar-login-session {
	padding: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.icon-size {
	font-size: 87px;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

/*========================
JUMBOTRON
========================*/

.jumbotron {
	height: 600px;
	position: relative;
	background-image: url('');

	text-align: center;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.5);
	background:
    /* top, transparent black, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    /* bottom, image */
    url('./houses/house4.jpg');
		background-size: cover;
		background-repeat: no-repeat;
}

.bigtitle {
	color: white;
	margin-top: 150px;
}

/*========================
4 FEATURED LISTINGS
========================*/

.featured_img {
	height: 200px;
}

.latesttransaction {
	text-align: center;
}

.tm-home-section-1 {
	position: relative;
}

.tm-home-box-2 {
	background-color: white;
	max-width: 254px;
}

.tm-home-box-2 h3 {
	font-size: 14px;
	padding: 30px 25px;
	text-transform: uppercase;
}

.tm-date {
	color: #c3c3c3;
	padding: 10px 25px;
	text-transform: uppercase;
}

.tm-home-box-2-container {
	border-top: 1px solid #DDD;
	overflow: hidden;
}

.tm-home-box-2-link {
	display: inline-block;
	height: 100%;
	color: black;
	text-align: center;
}

.border-left {
	border-left: 1px solid #DDD;
}

.border-right {
	border-right: 1px solid #DDD;
}

.tm-home-box-2-icon {
	padding: 20px;
	width: 60px;
	height: 60px;
	font-size: 1.4em;
}

.tm-home-box-2-description {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	width: 125px;
	padding-bottom: 18px;
}

#aa-latest-property {
	display: inline;
	float: left;
	width: 100%;
	padding: 40px 0;
}

#aa-latest-property .aa-latest-property-area {
	display: inline;
	float: left;
	width: 100%;
}

#aa-latest-property .aa-latest-property-area .aa-latest-properties-content {
	display: inline;
	float: left;
	width: 100%;
}

.aa-properties-item {
	display: inline;
	float: left;
	margin-top: 30px;
	width: 100%;
	position: relative;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.aa-properties-item:hover {
	box-shadow: 1px 2px 5px 3px #ccc;
}

.aa-properties-item .aa-properties-item-img {
	width: 100%;
}

.aa-properties-item .aa-properties-item-img img {
	width: 100%;
}

.aa-properties-item .aa-tag {
	color: #fff;
	padding: 6px 10px;
	position: absolute;
	left: 15px;
	top: -15px;
}

.aa-properties-item .aa-properties-item-content {
	background-color: #fff;
	border: 1px solid #ddd;
	border-top: none;
	display: inline;
	float: left;
	width: 100%;
}

.aa-properties-item .aa-properties-item-content .aa-properties-info {
	border-bottom: 1px solid #ddd;
	display: inline;
	float: left;
	padding: 10px;
	width: 100%;
	text-align: left;
}

.aa-properties-item .aa-properties-item-content .aa-properties-info span {
	margin: 0px 5px;
	font-size: 14px;
}

.aa-properties-item .aa-properties-item-content .aa-properties-about {
	display: inline;
	float: left;
	width: 100%;
	padding: 10px;
	height: 100px;
}

.aa-properties-item .aa-properties-item-content .aa-properties-about h3 {
	margin-top: 0px;
}

.aa-properties-item .aa-properties-item-content .aa-properties-about p {
	font-size: 14px;
}

.aa-properties-item .aa-properties-item-content .aa-properties-detial {
	border-top: 1px solid #ddd;
	display: inline;
	float: left;
	padding: 10px;
	width: 100%;
}

.aa-properties-item .aa-properties-item-content .aa-properties-detial .aa-price {
	float: left;
	font-size: 18px;
	padding: 3px 0;
}

.aa-properties-item .aa-properties-item-content .aa-properties-detial a {
	float: right;
	padding: 5px 0;
}

.aa-title {
	text-align: center;
}

/*========================
ALERT MESSAGE
========================*/
.alertMessage {
	position:absolute;
	width: 200px;
	right: 0px;
	text-align: center;
	opacity: 0.9;
	z-index: 99999999;
}

/*========================
SCROLL TO TOP
========================*/

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
  background-color: rgba(0, 0, 0, 0.2);
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper:hover {
	background-color: #888888;
}

.scroll-top-wrapper.show {
  visibility:visible;
  cursor:pointer;
	opacity: 1.0;
}

.scroll-top-wrapper i.fa {
	line-height: inherit;
}

/*========================
INDEX PAGE - FEATURED LISTINGS
========================*/
.propname {
  color:#599bf8;
}

.icons img {
  opacity: 0.7;
  height: 20px;
}

.bidtime {
  font-size: 26px;
  color:#ff5252;
}

.bidlast {
  font-size: 20px;
  color:#16a861;
}

/*========================
LISTING DETAILS
========================*/
.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7));
    height: 100%;
    width: 100%;
    padding-top: 50px;
}

/*========================
PROPERTY DETAILS
========================*/
.reserveprice {
  color: #ff5252;
}
