// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

// css for footer
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}






* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*========================
NAVBAR
========================*/

header {
	height: 50px;
}

.navbar {
	position: relative;
	z-index: 1;
	width: 100%;
	border: 0;
}

.navmenu {
	height: 50px;
	background: rgba(0, 0, 0, 0.2);
	width: 100%;
}

.nav.navbar-nav.navbar-right.menu li a {
	color: white;
}

.nav.navbar-nav.navbar-right li a:hover {
	background-color: rgba(0, 0, 0, 0.5);
	width: auto;
}

.nav.navbar-nav.navbar-right {
	margin: 0 15px;
}

.navbar-brand {
	padding: 0;
}

.logolong {
	height: 36px;
	margin: 7px 15px;
}

.navbar-brand:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.icon-bar {
	background-color: white;
}

.navbar-collapse.collapse.in {
	background-color: rgba(0, 0, 0, 0.2);
}

.navbar-login {
	width: 305px;
	padding: 10px;
	padding-bottom: 0px;
}

.navbar-login-session {
	padding: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.icon-size {
	font-size: 87px;
}

.dropdown-menu {
	color: black;
}

.dropdown-toggle {
	color: white;
}

.dropdown-toggle:hover {
	color: white;
}

.dropdown-toggle:visited {
	color: white;
}

/*========================
LOGIN & SIGNUP
========================*/

.at-login-form .btn-fb {
	display: inline-block;
	padding: 18px 20px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0px;
	background-color: #4568B2;
	width: 100%;
	margin-top: 10px;
	color: #fff;
}

.at-login-form .btn-gp {
	display: inline-block;
	padding: 18px 20px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid #eee;
	border-radius: 0px;
	background-color: #FFFFFF;
	width: 100%;
	margin-top: 10px;
	color: #000;
}

.at-login-form .btn-lgin {
	display: inline-block;
	padding: 18px 20px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid #eee;
	border-radius: 0px;
	background-color: #1DB9EC;
	width: 100%;
	margin-top: 10px;
	color: #fff;
}

.at-login-form .signup-or-separator {
	background: none;
	height: 34px;
	position: relative;
	text-align: center;
}

.at-login-form .signup-or-separator--text {
	background-color: #fff;
	display: inline-block;
	padding: 8px;
}

.at-login-form .h6 {
	font-size: 14px;
	font-weight: bold;
	color: #757575;
	line-height: 1.1;
	text-rendering: optimizelegibility;
}

.at-login-form .signup-or-separator hr {
	margin: -25px auto 10px;
	width: 100%;
}

.at-login-form .form-control-form {
	display: block;
	width: 100%;
	height: 54px;
	padding: 15px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	margin-top: 3px;
}

.at-login-form .frgt-pswd {
	margin: 5px 0 10px;
	color: red;
}

.at-login-form .btn-gst {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid #000;
	border-radius: 0px;
	background-color: transparent;
}

.at-login-form .ta-l {
	text-align: left;
	margin-top: 5px;
}

.at-login-form .modal-dialog {
	width: 500px;
	margin: 30px auto;
}

.at-login-form .modal-content {
	padding: 0px 10px;
}

.at-login-form .modal-header {
	padding: 10px 10px;
	border-bottom: 0px solid #e5e5e5;
}

.blue-bg-nav {
	background-color: #1DB9EC;
}
/*========================
JUMBOTRON
========================*/

.jumbotron {
	height: 500px;
	position: relative;
	top: -50px;
	padding: 100px;
	background-image: url('./houses/house4.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

.bigtitle {
	color: white;
	margin-top: 75px;
}

.jumbotron.btn.btn-primary.btn-lg {
	z-index: +2;
}
/*========================
4 FEATURED LISTINGS
========================*/

.featured_img {
	height: 200px;
}

.tm-home-section-1 {
	position: relative;
	top: -200px;
}

.tm-home-box-2 {
	background-color: white;
	max-width: 254px;
}

.tm-home-box-2 h3 {
	font-size: 14px;
	padding: 30px 25px;
	text-transform: uppercase;
}

.tm-date {
	color: #c3c3c3;
	padding: 10px 25px;
	text-transform: uppercase;
}

.tm-home-box-2-container {
	border-top: 1px solid #DDD;
	overflow: hidden;
}

.tm-home-box-2-link {
	display: inline-block;
	height: 100%;
	color: black;
	text-align: center;
}

.border-left {
	border-left: 1px solid #DDD;
}

.border-right {
	border-right: 1px solid #DDD;
}

.tm-home-box-2-icon {
	padding: 20px;
	width: 60px;
	height: 60px;
	font-size: 1.4em;
}

.tm-home-box-2-description {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	width: 125px;
	padding-bottom: 18px;
}

#aa-latest-property {
	display: inline;
	float: left;
	width: 100%;
	padding: 40px 0;
}

#aa-latest-property .aa-latest-property-area {
	display: inline;
	float: left;
	width: 100%;
}

#aa-latest-property .aa-latest-property-area .aa-latest-properties-content {
	display: inline;
	float: left;
	width: 100%;
}

.aa-properties-item {
	display: inline;
	float: left;
	margin-top: 30px;
	width: 100%;
	position: relative;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.aa-properties-item:hover {
	box-shadow: 1px 2px 5px 3px #ccc;
}

.aa-properties-item .aa-properties-item-img {
	width: 100%;
}

.aa-properties-item .aa-properties-item-img img {
	width: 100%;
}

.aa-properties-item .aa-tag {
	color: #fff;
	padding: 6px 10px;
	position: absolute;
	left: 15px;
	top: -15px;
}

.aa-properties-item .aa-properties-item-content {
	background-color: #fff;
	border: 1px solid #ddd;
	border-top: none;
	display: inline;
	float: left;
	width: 100%;
}

.aa-properties-item .aa-properties-item-content .aa-properties-info {
	border-bottom: 1px solid #ddd;
	display: inline;
	float: left;
	padding: 10px;
	width: 100%;
	text-align: left;
}

.aa-properties-item .aa-properties-item-content .aa-properties-info span {
	margin: 0px 5px;
	font-size: 14px;
}

.aa-properties-item .aa-properties-item-content .aa-properties-about {
	display: inline;
	float: left;
	width: 100%;
	padding: 10px;
	height: 100px;
}

.aa-properties-item .aa-properties-item-content .aa-properties-about h3 {
	margin-top: 0px;
}

.aa-properties-item .aa-properties-item-content .aa-properties-about p {
	font-size: 14px;
}

.aa-properties-item .aa-properties-item-content .aa-properties-detial {
	border-top: 1px solid #ddd;
	display: inline;
	float: left;
	padding: 10px;
	width: 100%;
}

.aa-properties-item .aa-properties-item-content .aa-properties-detial .aa-price {
	float: left;
	font-size: 18px;
	padding: 3px 0;
}

.aa-properties-item .aa-properties-item-content .aa-properties-detial a {
	float: right;
	padding: 5px 0;
}

.aa-title {
	text-align: center;
}
