// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap";

.listing-greyed-out{
  background: rgb(170, 175, 174);
}
